<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <h1>AVAILABLE TENTS</h1>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns" id="box">
    <ul>
      <% @tents.each do |tent| %>
        <li> <%= link_to tent.name, tent %> : <%= tent.user.username %></li>
      <% end %>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="medium-4 text-center columns" id="box">
    <%= paginate @tents %>
  </div>
</div>
