<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <h1> Available Tents</h1>
  </div>
</div>

<div class="row">
  <div class="medium-12 medium-centered columns">
    <ul>
      <% @tents.each do |tent| %>
        <li> <%= link_to tent.name, tent %> : <%= tent.user.username %></li>
      <% end %>
    </ul>
  </div>
</div>
