<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <h1>AVAILABLE TENTS</h1>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns" id="box">
    <ul>
      <% @tents.each do |tent| %>
        <li> <%= link_to tent.name, tent %> : <%= tent.user.username %></li>
      <% end %>
    </ul>
  </div>
  <div class="medium-7 columns float right">
    <div id="map" style='width: 500px; height: 400px;'></div>
  </div>
</div>
<br>
<div class="row">
  <div class="medium-4 text-center columns" id="box">
    <h6><%= paginate @tents %></h6>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'map'}}, function(){
      var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
  });
</script>
