<div class="row">
  <div class="medium-12 medium-centered columns text centered">
    <h1>AVAILABLE SLEEPINGBAGS</h1>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns" id="box">
    <ul>
      <% @sleepingbags.each do |sleepingbag| %>
        <li> <%= link_to sleepingbag.name, sleepingbag %> : <%= sleepingbag.user.username %></li>
      <% end %>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="medium-4 columns" id="box">
    <%= paginate @sleepingbags %>
  </div>
</div>
